*.pth
errfile
outfile
wandb/debug-*.log
wandb/run-*/
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
.nfs*
slurm/*
*.pyc
*.safetensors
llm_experiments/InternVL3-1B/*
llm_experiments/InternVL3-2B/*
llm_experiments/InternVL3-8B/*
llm_experiments/InternVL3-9B/*
llm_experiments/InternVL3-14B/*
llm_experiments/InternVL3-38B/*
llm_experiments/InternVL3-78B/*
*.mp4
.cache/*
saved_weights/new_weights_dir/*
dataset/
gpt/
